
@model APP_Life.Models.projetado


@{
    ViewBag.Title = "CadastrarProjetado";
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/method_PT.js"></script>



<script>
function mascaraData( campo, e )
{
	var kC = (document.all) ? event.keyCode : e.keyCode;
	var data = campo.value;

	if( kC!=8 && kC!=46 )
	{
		if( data.length==2 )
		{
			campo.value = data += '/';
		}
		else if( data.length==5 )
		{
			campo.value = data += '/';
		}
		else
			campo.value = data;
	}
}
</script>


<style>
    .modal-title {
        margin-left: 20%;
        color: #06921c;
    }

    .modal-header {
        padding-bottom: 2px;
        margin-bottom: 20px;
    }

    .modal-footer {
        margin-top: 20px;
    }
</style>

<div class="modal-body">

<!-- Modal content-->
@using (Html.BeginForm("CadastrarProjetado", "Projetado", new { @class = "" },
                                                                             FormMethod.Post))
{
    <div class="modal-header">
        <button type="button" class="close" id="close" data-dismiss="modal">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Cadastrar Projeção</h4>
    </div>

    @Html.ValidationSummary(true);

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.categoria.nome, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @* Passando o Nome da ViewBag *@
                @Html.DropDownList("CategoriaID", null, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descricao)
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Valor, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Valor)
            </div>
        </div>
    </div>
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Data, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Data, new { @class = "form-control", @type = "text", @onkeypress = "mascaraData( this, event )", @maxlength = "10" })
                        @Html.ValidationMessageFor(model => model.Data)
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <input type="button" id="cancelar" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        }
        </div>


<script type="t>
        <script type="text/javascript">
            $(function () {
                $('#approve-btn').click(function () {
                    $('#modal-container').modal('hide');
                });
            });
        </script>
