@model APP_Life.Models.projetado
@{
    ViewBag.Title = "Projetado";
}


<style>
    .container {
        padding-top: 3%;
    }

    .modal-content {
        width: 600px !important;
        margin: 30px auto !important;
    }


    .alert {
        padding: 20px;
        background-color: #f44336; /* Red */
        color: white;
        margin-bottom: 15px;
    }

    /* The close button */
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        /* When moving the mouse over the close button */
        .closebtn:hover {
            color: black;
        }

    .alert {
        opacity: 1;
        transition: opacity 0.6s; /* 600ms to fade out */
    }

    .cab {
        text-align: center;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
        border-radius: 300px;
        font-weight: 700;
        text-transform: uppercase;
    }
</style>

<div id="cabeçalho" class="cab" style="color:#337ab7;">
    <h2>Projeção de Receitas</h2>
    <p style="background:#e8e8e8; padding: 10px;">Lançamento de projeções de receitas</p>
    <p>
        <div class="col-md-3">
            <a href="@Url.Action("CadastrarProjetado", "Projetado")" class="modal-link btn btn-success pr">
                <span class="fa fa-plus" aria-hidden="true"></span><span style="font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; border: none; font-weight: 700;">  Projeção</span>
            </a>
        </div>
    </p>
</div>

<div id="modal-containerpr" class="modal fade"
     tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

@if (Session["messProjetadoR"].ToString() == "Incluido")
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Projeção Incluída com sucesso!
    </div>
    Session["messProjetadoR"] = "nada";

}

@if (Session["messProjetadoR"].ToString() == "Deletado")
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Projeção Deletada com sucesso!
    </div>
    Session["messProjetadoR"] = "nada";

}

@if (Session["messProjetadoR"].ToString() == "Atualizado")
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Projeção Atualizada com sucesso!
    </div>
    Session["messProjetadoR"] = "nada";

}


<table id="tabelaProjetado" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" cellspacing="0" style="width: 100%;">
    <thead>
        <tr>

            <th style="display:none">Código</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Data</th>
            <th class="sorting" tabindex="0" aria-controls="dataTables-example"
                rowspan="1" colspan="1" aria-label="Valor:active to sort column ascending"
                style="width: 171px">
                Valor
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (ViewBag.listaProjetadoR))
        {
            <tr>
                <td id="@item.ProjetadoID" style="display:none">
                    @item.ProjetadoID
                </td>
                <td>
                    @item.categoria.nome
                </td>
                <td>
                    @item.Descricao
                </td>
                <td>
                    @item.Data
                </td>
                <td>
                    @item.Valor
                </td>

                <td>

                    <a href="@Url.Action("ProjetadoDelete","Projetado",new { id = @item.ProjetadoID})" class="btn btn-danger">

                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                    <button class="btn btn-primary edit eita" data-id="@item.ProjetadoID"><i class="glyphicon glyphicon-edit"></i></button>

            </tr>
        }
    </tbody>
</table>


<div class="modal" id="modalpr">


</div>


<script type="text/javascript">
    $(".eita").click(function () {
        var id = $(this).attr("data-id");
        $("#modalpr").load("ProjetadoUpdate?id=" + id, function () {
            $("#modalpr").modal();
        })
    });


    $(function () {
        $('body').on('click', '.pr', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-containerpr');
            $(this).attr('data-toggle', 'modal');
        });

        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-containerpr').modal('hide');
        });

        $('#modal-containerpr').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {
            return false;
        });
    });


</script>
