
@model PagedList.IPagedList<APP_Life.Models.projetado>
@{
    ViewBag.Title = "Projetado";
}


<style>
    .container {
        padding-top: 3%;
    }

    .modal-content {
        width: 600px !important;
        margin: 30px auto !important;
    }

    .cab {
        text-align: center;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
        border-radius: 300px;
        font-weight: 700;
        text-transform: uppercase;
    }
</style>

<div class="col-md-12"></div>
<div class="col-md-3"></div>
<div class="col-md-3"></div>
<div class="col-md-3"></div>
<div class="col-md-3">

            <a href="@Url.Action("CadastrarProjetado", "Projetado", new { cod = true})" class="modal-link btn btn-success pr" style="margin-left:15px; margin-bottom:10px;">
                <span class="fa fa-plus" aria-hidden="true"></span><span style="font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; border: none; font-weight: 700;">  Projeção</span>
            </a>
        </div>

<div id="modal-containerpr" class="modal fade"
     tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

<table id="tabelaProjetado" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" cellspacing="0" style="width: 100%;">
    <thead>
        <tr>

            <th style="display:none">Código</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Data</th>
            <th class="sorting" tabindex="0" aria-controls="dataTables-example"
                rowspan="1" colspan="1" aria-label="Valor:active to sort column ascending"
                style="width: 171px">
                Valor
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (ViewBag.listaProjetadoR))
        {
            <tr>
                <td id="@item.ProjetadoID" style="display:none">
                    @item.ProjetadoID
                </td>
                <td>
                    @item.categoria.nome
                </td>
                <td>
                    @item.Descricao
                </td>
                <td>
                    @item.Data
                </td>
                <td>
                    @item.Valor
                </td>

                <td>

                    <a href="@Url.Action("ProjetadoDelete","Projetado",new { id = @item.ProjetadoID})" class="btn btn-danger">

                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                    <button class="btn btn-primary edit eita" data-id="@item.ProjetadoID"><i class="glyphicon glyphicon-edit"></i></button>

            </tr>
        }
    </tbody>
</table>


<div>
    Página @(ViewBag.listaProjetadoR.PageCount < ViewBag.listaProjetadoR.PageNumber ? 0 : ViewBag.listaProjetadoR.PageNumber)
    of @ViewBag.listaProjetadoR.PageCount

    @if (ViewBag.listaProjetadoR.HasPreviousPage)
    {


        <script>
            $('#primPaginaProjetadoR').click(function () {
            var mes = $('#mes').val();
            var url = "/Projetado/ProjetadoR?mes=" + mes;
        // alert(mes)
            $.post(url, { mes: mes, pagina:  1 }, function (data) {
                $("#ReceitaP").html(data);
            });
            })

            $('#antPaginaProjetadoR').click(function () {
                var mes = $('#mes').val();
                var url = "/Projetado/ProjetadoR?mes=" + mes;
                // alert(mes)
                $.post(url, { mes: mes, pagina: @ViewBag.listaProjetadoR.PageNumber - 1 }, function (data) {
                    $("#ReceitaP").html(data);
                });
            })


        </script>

        <a id="primPaginaProjetadoR"><<</a>

        @Html.Raw(" ");

        <a id="antPaginaProjetadoR">< Anterior</a>
    }
    else
    {
        @:<<
        @Html.Raw(" ");
        @:< Anterior
    }

    @if (ViewBag.listaProjetadoR.HasNextPage)
    {
        <script>
            $('#proPaginaProjetadoR').click(function () {
            var mes = $('#mes').val();
            var url = "/Projetado/ProjetadoR?mes=" + mes;
        // alert(mes)
            $.post(url, { mes: mes, pagina: @ViewBag.listaProjetadoR.PageNumber + 1 }, function (data) {
                $("#ReceitaP").html(data);
            });
            })

            $('#ultPaginaProjetadoR').click(function () {
                var mes = $('#mes').val();
                var url = "/Projetado/ProjetadoR?mes=" + mes;
                // alert(mes)
                $.post(url, { mes: mes, pagina: @ViewBag.listaProjetadoR.PageCount }, function (data) {
                    $("#ReceitaP").html(data);
                });
            })


        </script>

        <a id="proPaginaProjetadoR">Proxima ></a>
        @Html.Raw(" ");
        <a id="ultPaginaProjetadoR">>></a>
    }
    else
    {
        @:Próxima >
        @Html.Raw(" ")
        @:>>
    }
</div>




<div class="modal" id="modalpr">


</div>


<script type="text/javascript">
    $(".eita").click(function () {
        var id = $(this).attr("data-id");
        $("#modalpr").load("ProjetadoUpdate?id=" + id+"?cod=true", function () {
            $("#modalpr").modal();
        })
    });


    $(function () {
        $('body').on('click', '.pr', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-containerpr');
            $(this).attr('data-toggle', 'modal');
        });

        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-containerpr').modal('hide');
        });

        $('#modal-containerpr').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {
            return false;
        });
    });


</script>
