@model APP_Life.Models.despesa

@{

    ViewBag.Title = "Edit";
}


<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/method_PT.js"></script>
<script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
</script>
<script>
function mascaraData( campo, e )
{
	var kC = (document.all) ? event.keyCode : e.keyCode;
	var data = campo.value;

	if( kC!=8 && kC!=46 )
	{
		if( data.length==2 )
		{
			campo.value = data += '/';
		}
		else if( data.length==5 )
		{
			campo.value = data += '/';
		}
		else
			campo.value = data;
	}
}
</script>

<style>
    .modal-footer {
        margin-right: 10%;
    }

    .modal-title {
        margin-left: 30%;
        color: #06921c;
    }

    .modal-header {
        margin-bottom: 15px;
        padding-bottom: 2px;
    }

    .control-label {
        text-align: left;
    }
</style>



<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("DespesaUpdate", "Lancamento", new { @class = "" },
                                          FormMethod.Post))
        {
            <div class="modal-header">
                <button type="button" class="close" id="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Editar Despesa</h4>
            </div>

            @Html.AntiForgeryToken()

            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(model => model.categoria.nome, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("CategoriaID", null, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Descricao, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Descricao)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Valor, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Valor, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Valor)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Data, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Data, new { @class = "form-control", @type = "text", @onkeypress = "mascaraData( this, event )", @maxlength = "10" })
                            @Html.ValidationMessageFor(model => model.Data)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.HiddenFor(model => model.UsuarioID, new { @class = "" })
                        <div class="col-md-9">
                            @Html.HiddenFor(model => model.UsuarioID, new { @class = "" })
                            @Html.ValidationMessageFor(model => model.UsuarioID)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(model => model.CategoriaID, new { @class = "" })
                        <div class="col-md-9">
                            @Html.HiddenFor(model => model.CategoriaID, new { @class = "" })
                            @Html.ValidationMessageFor(model => model.CategoriaID)
                        </div>
                    </div>

                </div>

            </div>
                <div class="modal-footer">
                    <input type="submit" value="Salvar" class="btn btn-success" />
                    <input type="button" id="cancelar" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
                </div>
        }
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">

    $('#cancelar').click(function () {
        $('.modal-dialog').css('display', 'none');
        $('#modald').removeClass('out');
        $('#modald').addClass('in');

        $('.modal-backdrop').removeClass('in');

        $('.modal-backdrop').removeClass('modal-backdrop');
    });
    $('#close').click(function () {
        $('.modal-dialog').css('display', 'none');
        $('#modald').removeClass('out');
        $('.modal-backdrop').removeClass('in');

        $('.modal-backdrop').removeClass('modal-backdrop');
        $('#modald').addClass('in');

    });


</script>
