@model PagedList.IPagedList<APP_Life.Models.despesa>
@{
    ViewBag.Title = "Despesas";
}

<style>
    .container {
        padding-top: 3%;
    }

    .modal-content {
        width: 600px !important;
        margin: 30px auto !important;
    }

    .alert {
        padding: 20px;
        background-color: #f44336; /* Red */
        color: white;
        margin-bottom: 15px;
    }

    /* The close button */
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        /* When moving the mouse over the close button */
        .closebtn:hover {
            color: black;
        }

    .alert {
        opacity: 1;
        transition: opacity 0.6s; /* 600ms to fade out */
    }

    .cab {
        text-align: center;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
        border-radius: 300px;
        font-weight: 700;
        text-transform: uppercase;
    }
</style>

<div class="col-md-12"></div>
<div class="col-md-3"></div>
<div class="col-md-3"></div>
<div class="col-md-3"></div>
<div class="col-md-3">

    <a href="@Url.Action("CadastrarDespesa", "Lancamento")" class="modal-link btn btn-success d" style="margin-left:15px; margin-bottom:10px;">
        <span class="fa fa-plus" aria-hidden="true"></span><span style="font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; border: none; font-weight: 700;">  Despesa</span>
    </a>
</div>

<div id="modal-containerd" class="modal fade"
     tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

<table id="tabelaDespesa" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline sortable" cellspacing="0" style="width: 100%;">
    <thead>
        <tr>

            <th style="display:none;">Código</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Valor</th>
            <th>Ações</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in (ViewBag.listaDespesa))
            {
            <tr>
                <td id="@item.DespesaID" style="display:none;">
                    @item.DespesaID
                </td>
                <td>
                    @item.categoria.nome
                </td>
                <td>
                    @item.Descricao
                </td>
                <td>
                    @item.Data
                </td>
                <td>
                    @item.Valor
                </td>

                <td>

                    <a href="@Url.Action("ReceitaDelete", "Lancamento", new { id = @item.DespesaID })" class="btn btn-danger">

                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                    <button class="btn btn-primary edit eita" data-id="@item.DespesaID"><i class="glyphicon glyphicon-edit"></i></button>

            </tr>
        }
    </tbody>
</table>


<div>
    Página @(ViewBag.listaDespesa.PageCount < ViewBag.listaDespesa.PageNumber ? 0 : ViewBag.listaDespesa.PageNumber)
    de @ViewBag.listaDespesa.PageCount

    @if (ViewBag.listaDespesa.HasPreviousPage)
    {


        <script>
            $('#primPaginaDespesa').click(function () {
            var mes = $('#mes').val();
            var url = "/Lancamento/Despesas?mes=" + mes;
        // alert(mes)
            $.post(url, { mes: mes, pagina:  1 }, function (data) {
                $("#Despesa").html(data);
            });
            })

            $('#antPaginaDespesa').click(function () {
                var mes = $('#mes').val();
                var url = "/Lancamento/Despesas?mes=" + mes;
                // alert(mes)
                $.post(url, { mes: mes, pagina: @ViewBag.listaDespesa.PageNumber - 1 }, function (data) {
                    $("#Despesa").html(data);
                });
            })


        </script>

        <a id="primPaginaDespesa"><<</a>

        @Html.Raw(" ");

        <a id="antPaginaDespesa">< Anterior</a>
    }
    else
    {
        @:<<
        @Html.Raw(" ");
        @:< Anterior
    }

    @if (ViewBag.listaDespesa.HasNextPage)
    {
        <script>
            $('#proPaginaDespesa').click(function () {
            var mes = $('#mes').val();
            var url = "/Lancamento/Despesas?mes=" + mes;
        // alert(mes)
            $.post(url, { mes: mes, pagina: @ViewBag.listaDespesa.PageNumber + 1 }, function (data) {
                $("#Despesa").html(data);
            });
            })

            $('#ultPaginaDespesa').click(function () {
                var mes = $('#mes').val();
                var url = "/Lancamento/Despesas?mes=" + mes;
                // alert(mes)
                $.post(url, { mes: mes, pagina: @ViewBag.listaDespesa.PageCount }, function (data) {
                    $("#Despesa").html(data);
                });
            })


        </script>

        <a id="proPaginaDespesa">Proxima ></a>
        @Html.Raw(" ");
        <a id="ultPaginaDespesa">>></a>
    }
    else
    {
        @:Próxima >
        @Html.Raw(" ")
        @:>>
    }
</div>

<div class="modal" id="modald">

</div>


<script type="text/javascript">
    $(".eita").click(function () {
        var id = $(this).attr("data-id");
        $("#modald").load("DespesaUpdate?id=" + id, function () {
            $("#modald").modal();
        })
    });


    $(function () {
        $('body').on('click', '.d', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-containerd');
            $(this).attr('data-toggle', 'modal');
        });

        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-containerd').modal('hide');
        });

        $('#modal-containerd').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {
            return false;
        });
    });


</script>



