@model APP_Life.Models.receita


@{
    ViewBag.Title = "CadastrarReceita";
}

                <!-- Modal content-->
                @using (Html.BeginForm("CadastrarReceita", "Login",
     FormMethod.Post, new { @class = "" }))
                {
                    @Html.ValidationSummary(true);
                    <div class="container">
                        <div class="col-md-12">
                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-md-12">
                                    <!-- <input id="textinput" name="textinput" placeholder="Descrição" class="form-control" type="text">
                                    -->
                                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control input-md" } })


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-md-12">
                            <!-- Select Basic -->
                            <div class="form-group">
                                <div class="col-md-12">

                                    Escolha a Categoria:
                                    @* Passando o Nome da ViewBag *@
                                    @Html.DropDownList("CategoriaID", null, new { @class = "form-control" })


                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="container">
                        <div class="col-md-6">
                            <!-- Text input-->
                            <div class="form-group">

                                <div class="col-md-12">
                                    <!--    <input id="textinput" name="textinput" placeholder="placeholder" class="form-control input-md" type="text">
                                       -->
                                    Valor:
                                    @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control input-md" } })


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Text input-->
                            <div class="form-group">

                                <div class="col-md-12">
                                    <!--  <input id="textinput" name="textinput" placeholder="" class="form-control input-md" type="datetime">
                                    -->
                                    Data:
                                    @Html.EditorFor(model => model.Data, new { @type = "date" })



                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">

                        <div class="col-md-6">
                            <!-- Button -->
                            <div class="form-group">

                                <div class="col-md-4" style="margin-top:3px;">
                                    <input type="submit" value="Cadastrar" class="btn btn-success" />
                                </div>
                            </div>
                        </div>



                    </div>
                }

