@model APP_Life.Models.despesa
@{
    ViewBag.Title = "Despesas";
}

<h2>Despesas</h2>

<style>
    .container {
        padding-top: 3%;
    }

    .modal-content {
        width: 600px !important;
        margin: 30px auto !important;
    }
</style>

@Html.ActionLink("ADD ", "CadastrarDespesa", "Lancamento", null, new { @class = "modal-link btn btn-success" })
<div id="modal-container" class="modal fade"
     tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>


<table id="tb" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" cellspacing="0" style="width: 100%;">
    <thead>
        <tr>
          
            <th>Código</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Data</th>
            <th class="sorting" tabindex="0" aria-controls="dataTables-example" 
                rowspan="1" colspan="1" aria-label="Valor:active to sort column ascending"
                 style="width: 171px">
                Valor
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in (ViewBag.listaDespesa))
        {
            <tr>
                <td id="@item.DespesaID">
                    @item.DespesaID
                </td>
                <td>
                    @item.categoria.nome
                </td>
                <td>
                    @item.Descricao
                </td>
                <td>
                    @item.Data
                </td>
                <td>
                    @item.Valor
                </td>

                <td>
                 
                    @Html.ActionLink("Deletar", "DespesaDelete", new { id = @item.DespesaID })
    <button class="btn btn-primary edit" id="eita" data-id="@item.DespesaID"><i class="glyphicon glyphicon-edit"></i></button>

            </tr>
        }
    </tbody>
</table>

<div class="modal" id="modal">

    @Html.Partial("_DespesaUpdate", Model);

</div>


<script type="text/javascript">
    $(".edit").click(function () {
        var id = $(this).attr("data-id");
        $("#modal").load("DespesaUpdate?id=" + id, function () {
            $("#modal").modal();
        })
    });


    $(function () {
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });

        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });

        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {
            return false;
        });
    });


    sessionStorage.clear();
    var linha = document.getElementById('tb').rows;
    var dados = null;
    for (var i = 1 ; i < linha.length ; i++) {
        dados = linha[i].cells;
        for (var j = 0 ; j < dados.length ; j++) {
            sessionStorage.setItem('categoria' + [i], dados[j + 1].innerText);
            sessionStorage.setItem('descricao' + [i], dados[j + 2].innerText);
            sessionStorage.setItem('data' + [i], dados[j + 3].innerText);
            sessionStorage.setItem('valor' + [i], dados[j + 4].innerText);
            break;
        }
    }


    var array = [];
    var array2 = [];
    var array3 = [];
    var array4 = [];

    for (var i = 1; i < sessionStorage.length; i++) {
        if ((sessionStorage.getItem('valor' + [i]) != null) && (sessionStorage.getItem('descricao' + [i]) != null)) {
            array[i] = sessionStorage.getItem('valor' + [i]);
            array2[i] = sessionStorage.getItem('descricao' + [i]);
            array3[i] = sessionStorage.getItem('categoria' + [i]);
            array4[i] = sessionStorage.getItem('data' + [i]);
        }
    }


    google.charts.setOnLoadCallback(drawChart);

    google.charts.load('43', { 'packages': ['corechart'], 'language': 'pt-br' });
    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'data');
        // data.addColumn('string', 'Receitas');
        data.addColumn('number', 'Valor');



        for (var i = 1; i < array.length; i++) {

            data.addRows([
            [String(array3[i]) + ' ' + String(array4[i]), parseFloat(array[i])]

            ]);
        }



        var options = {
            title: 'Despesa',
            vAxis: { title: 'Valor', format: 'currency' },
            hAxis: { title: 'Data' },
            seriesType: 'bars',
            legend: { position: 'bottom' }

        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);




    }

</script>

<div class="container">


    <div class="col-md-12">
        <div id="chart_div" style="width: 100%; height:450px;">
        </div>
    </div>

</div>

    <!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>
<!-- DataTables JavaScript -->
<script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>