@model IEnumerable<APP_Life.Models.despesa>
@{
    ViewBag.Title = "Geral";
}



<h3 id="receitaTotal" style="display:none;">
    @Session["receitaTotal"].ToString()
</h3>
<h3 id="despesaTotal" style="display:none;">
    @Session["despesaTotal"].ToString()
</h3>
<!--
ter saldo de receita e despesa e projeções

    comparativo em grafico do decorrer do mes da situacao atual com a projeção

    situação fisica do usuario como quantas calorias ja ingeriu
    e refeição do dia para comer


-->

<table id="tb" class="table table-striped" cellspacing="0" style="width: 100%;display:none;">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria.nome)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>



    sessionStorage.clear();
    var linha = document.getElementById('tb').rows;
    var dados = null;
    for (var i = 1 ; i < linha.length ; i++) {
        dados = linha[i].cells;
        for (var j = 0 ; j < dados.length ; j++) {
            sessionStorage.setItem('valor' + [i], dados[j  +3].innerText);
			 sessionStorage.setItem('descricao' + [i], dados[j + 1].innerText);
			 sessionStorage.setItem('categoria' + [i], dados[j].innerText);
			 sessionStorage.setItem('data' + [i], dados[j + 2].innerText);
           break;
        }
    }


    var array = [];
    var array2 = [];
	var array3 =[];

	var array4 = [];
    for (var i = 1; i < sessionStorage.length; i++) {
        if ((sessionStorage.getItem('valor' + [i]) != null) && (sessionStorage.getItem('descricao' + [i]) != null)) {
            array[i] = sessionStorage.getItem('valor' + [i]);
            array2[i] = sessionStorage.getItem('descricao' + [i]);
            array3[i] = sessionStorage.getItem('categoria' + [i]);
            array4[i] = sessionStorage.getItem('data' + [i]);
           }
    }

    total = document.getElementById('receitaTotal').innerText;
    total2 = document.getElementById('despesaTotal').innerText;

    google.charts.setOnLoadCallback(drawChart);

    google.charts.load('43', { 'packages': ['corechart'],'language':'pt-br' });
     function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Data');
        data.addColumn('number', 'Total Receita');
        data.addColumn('number', 'Despesa');

        var auxSoma = 0;
        for (var i = 1; i < array.length; i++) {
            auxSoma = parseFloat(auxSoma) + parseFloat(array[i]);

            data.addRows([
            [String(array4[i]), parseFloat(total),parseFloat(auxSoma)]

            ]);
        }



        var options = {
            title: 'Geral',
           format:'currency',
           curveType: 'function',
            vAsix: {height:100},
            legend: { position: 'bottom', }

        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);




    }

</script>

<div class="container" style="margin:0px;padding:0px;">


    <div class="col-md-12">
        <div id="chart_div" style="width:100%;height:100%;">
        </div>
    </div>

</div>
