@model IEnumerable<APP_Life.Models.despesa>
@{
    ViewBag.Title = "Geral";
}

<style>
    .segundaparte {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 20px;
    }

    h1 {
        color: #06921c;
    }

    .container {
        margin-left: 30px;
    }

    .b {
        margin-top: 30px;
    }

    .feature-item {
    border-bottom: solid 4px;
    margin-bottom: 20px;
    -webkit-transition: .6s ease all;
    -moz-transition: .6s ease all;
    -ms-transition: .6s ease all;
    -o-transition: .6s ease all;
}
    a {
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

    .feature-item a {
    display: block;
    min-height: 270px;
    height: inherit;
    padding: 13px;
    text-decoration: none;
}

    .feature-item .button-pos {
    background: url(../images/seta-azul.png) no-repeat;
    display: block;
    height: 12px;
    margin-top: 20px;
    width: 15px;
}
    .feature-item p {
    font-size: 16px;
    line-height: 20px;
}
    .feature-item h3 {
        font-size: 25px;
        font-weight: 400;
        line-height: 1.3em;
        margin-bottom: 22px;
        margin-top: 20px;
        text-transform: uppercase;
    }
    .col-3 {
    display: inline;
    float: left;
    width: 30.4375%;
    margin: 0 .78125%;
}

    .feature-item.feature-item-orange {
    border-color: #1cb2a8;
}

    .feature-item:hover {
        
        background: green; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(-90deg, rgb(0, 152, 161), #1cb2a8); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(-90deg, rgb(0, 152, 161), #1cb2a8); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(-90deg, rgb(0, 152, 161), #1cb2a8); /* For Firefox 3.6 to 15 */
        background: linear-gradient(-90deg, rgb(0, 152, 161), #1cb2a8); /* Standard syntax */
        
    }

    .col-3 > a:hover{
        color:white;
    }
     .col-md-12 > a:hover{
        color:white;
    }

     .bg-info{
         padding: 7px;
         text-align:center;
     }

     .bg-info:hover{
         background: #46b8da;
         color: white;
     }

     .bg-danger {
         padding: 7px;
         text-align:center;
     }

     .bg-danger:hover{
         background: #d43f3a;
         color: white;
     }

     .bg-success {
         padding: 7px;
         text-align:center;
     }

     .bg-success:hover{
         background: #4cae4c;
         color: white;
     }
</style>


<div class="col-md-12">
    <div class="feature-item feature-item-orange col-md-4 col-3" align="justify">
        <a href="@Url.Action("Index","Lancamento")">
            <h3>Lançamentos</h3>
            <p>Realize seus lançamentos para controlar suas despesas e receitas</p>
            <span class="fa fa-arrow-right"></span>
           
    </div>
    <div class="feature-background"></div>

    </a>

    <div class="feature-item feature-item-orange col-md-4 col-3" align="justify">
        <a href="@Url.Action("dicas","Dieta")">
            <h3>Dicas Alimentares</h3>
            <p>Tem dúvidas sobre qual alimentação seguir ? Clique aqui!</p>
            <span class="fa fa-arrow-right"></span>
           
    </div>
    <div class="feature-background"></div>
    </a>

    <div class="feature-item feature-item-orange col-md-4 col-3" align="justify">
        <a href="@Url.Action("ConsultarNutrientesDieta","Dieta")">
            <h3>Consultar Nutrientes</h3>
            <p>Consulte os nutrientes contidos em suas dietas cadastradas</p>
            <span class="fa fa-arrow-right"></span>
    </div>
    <div class="feature-background"></div>

    </a>
</div>
<!--
<div class="col-md-12 b">
    <div class="col-md-3 objetivo">
        <a href="@Url.Action("Index", "Projetado")" class="modal-link btn r" style="background:#1F861F;
        padding: 100px; border-radius: 0px; color:white"><span class="fa fa-plus"></span></a>
    </div>
    <div class="col-md-3 dicasalim">
        <a href="@Url.Action("Index", "Dicasdietas")" class="modal-link btn r" style="background:#47A547;
        padding: 100px; border-radius: 0px; color:white"><span class="fa fa-plus"></span></a>
    </div>
    <div class="col-md-3 lancrec">
        <a href="@Url.Action("Index", "Dieta")" class="modal-link btn r" style="background:#70C270;
        padding: 100px; border-radius: 0px; color:white"><span class="fa fa-plus"></span></a>
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("dicas", "Dieta")" class="modal-link btn r" style="background:#A1DFA1;
        padding: 100px; border-radius: 0px; color:white"><span class="fa fa-sign-out fa-fw" style="width:50px;"></span></a>
    </div>
</div>
    -->

<div class="col-md-12">
    <div class="col-md-8 b">
        <p style="background:#e8e8e8;
              padding: 10px;
              font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
              font-weight: 700;
              color:#337ab7;">Estatísticas</p>

        <h3 id="receitaTotal" style="display:none;">
            @Session["receitaTotal"].ToString()
        </h3>

        <h3 id="despesaTotal" style="display:none;">
            @Session["despesaTotal"].ToString()
        </h3>

        <table id="tb" class="table table-striped" cellspacing="0" style="width: 100%;display:none;">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.categoria.nome)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <script>

            sessionStorage.clear();
            var linha = document.getElementById('tb').rows;
            var dados = null;
            for (var i = 1 ; i < linha.length ; i++) {
                dados = linha[i].cells;
                for (var j = 0 ; j < dados.length ; j++) {
                    sessionStorage.setItem('valor' + [i], dados[j + 3].innerText);
                    sessionStorage.setItem('descricao' + [i], dados[j + 1].innerText);
                    sessionStorage.setItem('categoria' + [i], dados[j].innerText);
                    sessionStorage.setItem('data' + [i], dados[j + 2].innerText);
                    break;
                }
            }

            var array = [];
            var array2 = [];
            var array3 = [];

            var array4 = [];
            for (var i = 1; i < sessionStorage.length; i++) {
                if ((sessionStorage.getItem('valor' + [i]) != null) && (sessionStorage.getItem('descricao' + [i]) != null)) {
                    array[i] = sessionStorage.getItem('valor' + [i]);
                    array2[i] = sessionStorage.getItem('descricao' + [i]);
                    array3[i] = sessionStorage.getItem('categoria' + [i]);
                    array4[i] = sessionStorage.getItem('data' + [i]);
                }
            }

            total = document.getElementById('receitaTotal').innerText;
            total2 = document.getElementById('despesaTotal').innerText;

            google.charts.setOnLoadCallback(drawChart);

            google.charts.load('43', { 'packages': ['corechart'], 'language': 'pt-br' });
            function drawChart() {

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Data');
                data.addColumn('number', 'Total Receita');
                data.addColumn('number', 'Despesa');

                var auxSoma = 0;
                for (var i = 1; i < array.length; i++) {
                    auxSoma = parseFloat(auxSoma) + parseFloat(array[i]);

                    data.addRows([
                    [String(array4[i]), parseFloat(total), parseFloat(auxSoma)]

                    ]);
                }

                var options = {
                    title: 'Geral',
                    format: 'currency',
                    seriesType: 'bars',
                    series: { 0: { type: 'line' } }
                };


                var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
                chart.draw(data, options);

            }

        </script>


        <!-- <div class="col-md-3">
             <h1>Resumo de situação financeira</h1>
             <h3>Veja como andam suas finanças através deste resumo e aproveite para se programar de forma que nada venha faltar!</h3>
         </div> -->


        <div id="chart_div" style="width:100%;height:100%;">
        </div>
    </div>

    <div class="col-md-4 b">
        <p style="background:#e8e8e8;
              padding: 10px;
              font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
              font-weight: 700;
              color:#337ab7;">Relatórios</p>

        <div class="col-md-10" style="margin-left:10%;margin-bottom:5%;">
            <a href="@Url.Action("Excel", "Excel")" class="modal-link btn btn-success btn-block d">
                <span class="fa fa-file-excel-o"></span><span style="font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; border: none; font-weight: 700;"> Exportar Receitas</span>
            </a>
        </div>
        <div class="col-md-10" style="margin-left:10%;margin-bottom:5%;">

            <a href="@Url.Action("Excel2", "Excel")" class="modal-link btn btn-danger btn-block d">
                <span class="fa fa-file-excel-o"></span><span style="font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; border: none; font-weight: 700;"> Exportar Despesas</span>
            </a>

        </div>
        <div class="col-md-10" style="margin-left:10%;margin-bottom:5%;">
  
             
                    @foreach (var item in (ViewBag.listaDietaGeral))
            {
                        <tr>
                            <td id="@item.DietaID">



                                <a href="@Url.Action("Excel3", "Excel", new { id = @item.DietaID})" class="modal-link btn btn-info btn-block d">
                                    <span class="fa fa-file-excel-o"></span><span style="font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; border: none; font-weight: 700;"> Exportar Dieta: @item.Nome</span>
                                </a>


                            </td>
                        </tr>
                    }
               
          

        </div>


        <!--
               <a href="~/Views/Lancamento/_Receitas.cshtml" style="background:#e8e8e8;
                     padding: 10px;
                     font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
                     font-weight: 700;
                     color:#337ab7;">Ver detalhes <span class="fa fa-arrow-right"></span></a>

               </div>-->
    </div>
</div>
<div class="col-md-12">

    <div class="col-md-4 b">
        <p style="background:#e8e8e8;
              padding: 10px;
              font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
              font-weight: 700;
              color:#337ab7;">Status de Objetivo</p>
        @Html.Partial("_ObjetivoDash")
    </div>

    <div class="col-md-4 b" align="justify">
        <p style="background:#e8e8e8;
              padding: 10px;
              font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
              font-weight: 700;
              color:#337ab7;">Dieta do Dia</p>
        <div class="feature-item feature-item-orange col-md-12" style="height:175px;">
            <a href="@Url.Action("Index","Dieta")">
                <h3>Dietas</h3>
                <p>Clique aqui para consultar suas dietas!</p>
                <span class="fa fa-arrow-right"></span>

        </div>
        <div class="feature-background"></div>

        </a>

    </div>


    <div class="col-md-4 b" align="justify">
        <p style="background:#e8e8e8;
              padding: 10px;
              font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
              font-weight: 700;
              color:#337ab7;" >Situação Financeira</p>
        <h4 id="receitaTotal2" style="">
            <p class="bg-success"> Receita Atual: R$@Convert.ToDecimal(Session["receitaTotal2"].ToString())</p>
        </h4>

        <h4 id="despesaTotal2" style="">
            <p class="bg-danger">Despesa Atual: R$@Convert.ToDecimal(Session["despesaTotal2"].ToString())</p>
        </h4>
        <h4 id="Total2" style="">
            <p class="bg-info"> Saldo Atual: R$@(Convert.ToDecimal(Session["receitaTotal2"].ToString()) - Convert.ToDecimal(Session["despesaTotal2"].ToString())) </p>
        </h4>
    </div>

</div>

