@model APP_Life.Models.receita


@{
    ViewBag.Title = "Receitas";
}

<h2>Receitas</h2>
<style>
    .container {
        padding-top: 3%;
    }

    .modal-content {
        width: 600px !important;
        margin: 30px auto !important;
    }
</style>

@Html.ActionLink("ADD ", "CadastrarReceita", "Lancamento", null, new { @class = "modal-link btn btn-success" })
<div id="modal-container" class="modal fade"
     tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>




<table id="tb" class="table table-striped" cellspacing="0" style="width: 100%;">
    <thead>
        <tr>
            <th>Código</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Valor</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in (ViewBag.listaReceita))
        {
            <tr>
                <td id="@item.ReceitaID">
                    @item.ReceitaID
                </td>
                <td>
                    @item.categoria.nome
                </td>
                <td>
                    @item.Descricao
                </td>
                <td>
                    @item.Data
                </td>
                <td>
                    @item.Valor
                </td>

                <td>
                    <!--@@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    -->
                    <a href="@Url.Action("ReceitaDelete","Lancamento",new { id = @item.ReceitaID})" class="btn btn-warning">
                        link text
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>

                 
                     <button class="btn btn-primary edit" id="eita" data-id="@item.ReceitaID"><i class="glyphicon glyphicon-edit"></i></button>

            </tr>
        }
    </tbody>
</table>

<div class="modal" id="modal">

    @Html.Partial("_ReceitaUpdate",Model);

</div>




<script type="text/javascript">
    $(".edit").click(function () {
        var id = $(this).attr("data-id");
        $("#modal").load("ReceitaUpdate?id=" + id, function () {
            $("#modal").modal();
        })
    });


    $(function () {
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });

        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });

        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {
            return false;
        });
    });




    sessionStorage.clear();
    var linha = document.getElementById('tb').rows;
    var dados = null;
    for (var i = 1 ; i < linha.length ; i++) {
        dados = linha[i].cells;
        for (var j = 0 ; j < dados.length ; j++) {
            sessionStorage.setItem('categoria' + [i], dados[j +1].innerText);
            sessionStorage.setItem('descricao' + [i], dados[j + 2].innerText);
            sessionStorage.setItem('data' + [i], dados[j + 3].innerText);
            sessionStorage.setItem('valor' + [i], dados[j + 4].innerText);
            break;
        }
    }


    var array = [];
    var array2 = [];
    var array3 = [];
    var array4 = [];

    for (var i = 1; i < sessionStorage.length; i++) {
        if ((sessionStorage.getItem('valor' + [i]) != null) && (sessionStorage.getItem('descricao' + [i]) != null)) {
            array[i] = sessionStorage.getItem('valor' + [i]);
            array2[i] = sessionStorage.getItem('descricao' + [i]);
            array3[i] = sessionStorage.getItem('categoria' + [i]);
            array4[i] = sessionStorage.getItem('data' + [i]);
        }
    }


    google.charts.setOnLoadCallback(drawChart);

    google.charts.load('43', { 'packages': ['corechart'], 'language': 'pt-br' });
    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'data');
        // data.addColumn('string', 'Receitas');
        data.addColumn('number', 'Valor');
       


        for (var i = 1; i < array.length; i++) {

            data.addRows([
            [String(array3[i]) + ' '+ String(array4[i]), parseFloat(array[i])]

            ]);
        }



        var options = {
            title: 'Receitas',
            vAxis: { title: 'Valor', format: 'currency' },
            hAxis: { title: 'Data' },
            seriesType: 'bars',
            legend: { position: 'bottom' }

        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);




    }

</script>

<div class="container">


    <div class="col-md-12">
        <div id="chart_div" style="width: 100%; height:450px;">
        </div>
    </div>

</div>



<div class="form-actions text-right pal">
    <button type="submit" class="btn btn-primary" name="Salvar" value="Salvar">
        Salvar Alterações
    </button>
</div>
