
@{
    ViewBag.Title = "CadastrarReceita";
}

<h2>CadastrarReceita</h2>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <!-- Modal content-->
                @using (Html.BeginForm("CadastrarReceita", "Login",
                     FormMethod.Post, new { @class = "login" }))
                {
                    @Html.ValidationSummary(true);
                    <div class="container">
                        <div class="col-md-12">
                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-md-12">
                                    <!-- <input id="textinput" name="textinput" placeholder="Descrição" class="form-control" type="text">
                                    -->
                                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control input-md" } })


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-md-12">
                            <!-- Select Basic -->
                            <div class="form-group">
                                <div class="col-md-12">
                                    <!-- <select id="selectbasic" name="selectbasic"  class="form-control">

                                            <option value="2">Salario</option>
                                            <option value="3">Por Fora</option>
                                        </select>
                                        @@Html.DropDownListFor(model => model., new SelectList(Enum.GetValues(typeof(MyNamespace.Enums.States))))
                                    -->
                                    @Html.EditorFor(model => model.categoria.nome, new { htmlAttributes = new { @class = "form-control input-md" } })




                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-md-6">
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="textinput">Valor</label>
                                <div class="col-md-12">
                                    <!--    <input id="textinput" name="textinput" placeholder="placeholder" class="form-control input-md" type="text">
                                       -->
                                    @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control input-md" } })


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Text input-->
                            <div class="form-group">

                                <div class="col-md-12">
                                    <!--  <input id="textinput" name="textinput" placeholder="" class="form-control input-md" type="datetime">
                                    -->
                                    @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control input-md" } })




                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">

                        <div class="col-md-6">
                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="singlebutton">Salvar</label>
                                <div class="col-md-4">
                                    <input type="submit" value="Cadastrar" class="btn btn-success" />
                                </div>
                            </div>
                        </div>



                    </div>
                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
</div>