@model APP_Life.Models.usuario
@{
    ViewBag.Title = "Login";

}
@section login{
   @using (Html.BeginForm("Index", "Login",
             new { ReturnUrl = ViewBag.ReturnUrl },
             FormMethod.Post, new { @class = "login" }))
   {
                    @Html.ValidationSummary(true);
        <div class="container">
            <div class="col-md-12">
                <div>
                    @Html.LabelFor(model => model.email)
                </div>
                <div>
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @placeholder = "1231" } })
                    @Html.ValidationMessageFor(model => model.email)
                </div>
                <div>
                    @Html.LabelFor(model => model.senha)
                </div>
                <div>
                    @Html.PasswordFor(model => model.senha, new { @class = "" })
                    @Html.ValidationMessageFor(model => model.senha)
                </div>
                <p>
                    <input type="submit" value="Logar" class="btn btn-primary btn-success" />
                </p>
            </div>
        </div>
    }}