@model APP_Life.Models.usuario
@{
    ViewBag.Title = "Inicio";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home - App Life</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css">
    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="~/Content/magnific-popup.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/creative.css" type="text/css">

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top">
    <script>
        $(document).ready(function () {
            $("a[rel=modal]").click(function (ev) {
                ev.preventDefault();

                var id = $(this).attr("href");

                var alturaTela = $(document).height();
                var larguraTela = $(window).width();

                //colocando o fundo preto
                $('#mascara').css({ 'width': larguraTela, 'height': alturaTela });
                $('#mascara').fadeIn(1000);
                $('#mascara').fadeTo("slow", 0.8);

                var left = ($(window).width() / 2) - ($(id).width() / 2);
                /*var top = ($(window).height() / 2) - ($(id).height() / 2);*/

                $(id).css({ '250%': top, 'left': left });
                $(id).show();
            });

            $("#mascara").click(function () {
                $(this).hide();
                $(".window").hide();
            });

            $('.fechar').click(function (ev) {
                ev.preventDefault();
                $("#mascara").hide();
                $(".window").hide();
            });

            $('.fechar2').click(function (ev) {
                ev.preventDefault();
                //$("#mascara").hide();
                $("#janela2").hide();
                $("#janela1").show();
            });

            $('#cadastro').click(function (ev) {
                ev.preventDefault();
                //  $("#mascara").hide();
                $("#janela1").hide();
            });

        });
    </script>


    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Navegar</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">App Life</a>

                <a href="#janela1" rel="modal" class="btn btn-default btn-xl sr-button">Começar!</a>

                <div class="window" id="janela1" style="/*border:solid 1px white;*/width:30%;height:350%;top:250%/*background:rgba(255,255,255,0.1)*/;">
                    <a href="#" class="fechar">x</a>
                    <script>
                        function loginUsuario(){

                            alert();

                            if(($('#email').text() != "") && ( $("#senha").val() != "")){
                                resultado = { "email": $('#email').val(), "senha": $('#senha').val() };
                            }
                                
                            else
                                return;

                            $.ajax({
                                url: '/Login/Index',
                                datatype: 'json',
                                contentType: "application/json; charset=utf-8",
                                type: "POST",
                                data: JSON.stringify(resultado), // passe simplesmente o JSON serializado em string
                                success: function (data) {
                                    if (data == "OK") {
                                        alert('Login realizado com sucesso!!');
                                        window.location.href = "/Lancamento/Geral";
                                    }
                                },
                                error: function (error) {
                                    loading(0, "");
                                }
                            });
                        }

                        $('form#login').on('submit', function (e) {
                            e.preventDefault();
                            loginUsuario();
                        });
                    </script>

                    @using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "login",@id="login" }))
                    {
                        @Html.ValidationSummary(true);
                        <div class="container">
                            <div class="col-md-3">

                                <p class="form-title"> Vamos Começar!</p>

                                <div>
                                @*    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @placeholder = "Usuário",@id = "usuario" } })
                                *@  <input class="text-box single-line" id="email" name="email" placeholder="Usuário" type="text">
                                       @Html.ValidationMessageFor(model => model.email)
                                </div>

                                <div>
                                    @Html.PasswordFor(model => model.senha, new { @placeholder = "Senha", @id = "senha" })
                                    @Html.ValidationMessageFor(model => model.senha)
                                </div>
                                <p>
                                    <input type="submit" value="Login" class="btn btn-primary btn-success" />
                                    <a href="#" style="height:20px;"> Esqueceu sua senha? </a>
                                </p>
                                <p>
                                    <a href="#janela2" rel="modal" id="cadastro" class="btn btn-primarydois">COMEÇAR A USAR</a>
                                    <!--<a href="#janela2" rel="modal" id="cadastro" class="btn">Cadastre</a>-->
                                </p>
                            </div>

                        </div>

                    }
                </div>

                <div class="window" id="janela2" style="/*border:solid 1px white;*/width:30%;height:355%;top:250%/*background:rgba(255,255,255,0.1)*/;">
                    <a href="#" class="fechar2">X</a>
                    @using (Html.BeginForm("CadastrarUsuario", "Login", new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "login", @id = "cadastro" }))
                    {
                        @Html.ValidationSummary(true);
                        <div class="container">
                            <div class="col-md-3">

                                <p class="form-title">Cadastre-se</p>

                                <div>
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @placeholder = "Usuário" } })
                                    @Html.ValidationMessageFor(model => model.email)
                                </div>

                                <div>
                                    @Html.PasswordFor(model => model.senha, new { @placeholder = "Senha" })
                                    @Html.ValidationMessageFor(model => model.senha)
                                </div>
                                <div>
                                    @Html.PasswordFor(model => model.senha, new { @placeholder = "Confirmar Senha" })
                                    @Html.ValidationMessageFor(model => model.senha)
                                </div>
                                <p>
                                    <input type="submit" value="COMEÇAR A USAR" class="btn btn-primary btn-success" />
                                </p>
                                <p>
                                    <!--<input type="submit" value="Concluído" class="btn btn-primarydois" />-->
                                </p>
                            </div>

                        </div>

                    }
                </div>


                <!-- mascara para cobrir o site -->
                <div id="mascara"></div>

            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Sobre</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Serviços</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfólio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
        <!-- /.container-fluid -->
    </nav>
    <!--
        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 style="font-size:20px; color: #06921c;">App Life Ferramenta de Finanças e Alimentação Integrada</h1>
                    <hr>
                    <p style="font-size:20px; color:#06921c;">Controlar suas finanças pode ser feita de forma fácil, utilizando o App Life, que além disso irá te auxiliar na sua alimentação diária.</p>
                    <a href="#about" class="btn btn-primary btn-xl page-scroll" style="background-color:#06921c">Saiba Mais</a>
                </div>
            </div>
        </header>-->

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" style="margin-left:800px;">
                            <p style="font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; font-size:20px; font-weight:600; color:white;">Controlar suas finanças pode ser feita de forma fácil, utilizando o App Life, que além disso irá auxiliar na sua alimentação diária.</p>
                            <a href="#about" class="btn btn-primary btn-xl page-scroll" style="background-color:#06921c;">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Nós temos o que você precisa!</h2>
                    <hr class="light">
                    <p class="text-faded">O App Life é tudo o que você precisa para gerenciar suas finanças e controlar sua alimentação. Isso de forma integrada e muito fácil de utilizar!</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Vamos lá!</a>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nossos Serviços</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Controle de Receitas e Despesas</h3>
                        <p class="text-muted">Gerencie suas receitas e despesas de forma simples e fácil.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Projete seus gastos</h3>
                        <p class="text-muted">Projete seus custos para não ter aquela surpresa no fim do mês!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Cadastre sua Dieta</h3>
                        <p class="text-muted">Cadastre sua dieta para darmos total apoio á sua alimentação.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Use Onde Estiver</h3>
                        <p class="text-muted">Use esta ferramenta de qualquer lugar!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/img/portfolio/1.jpg" class="portfolio-box">
                        <img src="~/Content/img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Finanças e Saúde
                                </div>
                                <div class="project-name">
                                    App Life
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/img/portfolio/2.jpeg" class="portfolio-box">
                        <img src="~/Content/img/portfolio/2.jpeg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Finanças e Saúde
                                </div>
                                <div class="project-name">
                                    App Life
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/img/portfolio/3.jpg" class="portfolio-box">
                        <img src="~/Content/img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Finanças e Saúde
                                </div>
                                <div class="project-name">
                                    App Life
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/img/portfolio/4.jpg" class="portfolio-box">
                        <img src="~/Content/img/portfolio/4.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Finanças e Saúde
                                </div>
                                <div class="project-name">
                                    App Life
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/img/portfolio/5.jpg" class="portfolio-box">
                        <img src="~/Content/img/portfolio/5.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Finanças e Saúde
                                </div>
                                <div class="project-name">
                                    App Life
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/img/portfolio/6.jpg" class="portfolio-box">
                        <img src="~/Content/img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Finanças e Saúde
                                </div>
                                <div class="project-name">
                                    App Life
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--<aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Cadastre-se Aqui!</h2>
                <a href="Index" class="btn btn-default btn-xl sr-button">Começar!</a>
            </div>
        </div>
    </aside>-->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Entre em Contato!</h2>
                    <hr class="primary">
                    <p>Qualquer dúvida entre em contato conosco!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>(33)9957-3632</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">applife@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Scripts/scrollreveal.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/jquery.fittext.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/creative.js"></script>
</body>
</html>
