<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>


    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css">
    <!-- MetisMenu CSS -->
    <link href="~/Content/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />





    <script src="~/Scripts/jquery-2.2.4.js"></script>

    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script src="~/Scripts/sortable.js"></script>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/loader.js"></script>
    <script src="~/Scripts/tooltip.js"></script>
</head>


<body style="padding-top:0px;">

    <script>
     /*   $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        */

    </script>

    <style>
        .container {
            width: 100%;
        }


        .field-validation-error {
            color: red;
            font-weight: bold;
        }

        * {
            font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
            border: none;
        }
    </style>



  
    @if (IsSectionDefined("login"))
    {
        // @RenderPage("~/Views/Shared/_Header.cshtml")
        @RenderSection("login")
    }
    else
    {

        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: #06921c;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="color: white">App Life</a>
                </div>
                <!-- /.navbar-header -->
                <ul class="nav navbar-top-links navbar-right" style="margin-right: 15px;">


                    <li class="dropdown">
                        <a class="dropdown-toggle" style="background-color:#06921c; color:white;" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="@Url.Action("InfoUsuario", "Usuario")">
                                    <span class="fa fa-user fa-fw" aria-hidden="true"></span>
                                    Perfil do Usuário
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Inicio", "Login")">
                                    <i class="fa fa-sign-out fa-fw"></i>Sair
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">


                            <li>

                                <a href="@Url.Action("Geral", "Lancamento")">

                                    <span class="fa fa-bar-chart-o fa-fw" aria-hidden="true"></span>
                                    Visão Geral
                                </a>

                            </li>
                            <li>

                                <a href="Lancamento"><i class="fa fa-money"></i> Finanças<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        @Html.ActionLink("Lançamentos", "Index", "Lancamento", null, new { @class = "" })
                                    </li>

                                    <li>
                                        @Html.ActionLink("Projetos", "Index", "Projetado", null, new { @class = "" })
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="Saude"><i class="fa fa-heartbeat"></i> Saúde<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        @Html.ActionLink("Dietas", "Index", "Dieta", null, new { @class = "" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Consultar Nutrientes", "ConsultarNutrientesDieta", "Dieta", null, new { @class = "" })

                                    </li>
                                    <li>
                                        @Html.ActionLink("Dicas Alimentares", "Dicas", "Dieta", null, new { @class = "" })

                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>

                                <a href="@Url.Action("InfoUsuario", "Usuario")">

                                    <span class="fa fa-user" aria-hidden="true"></span>
                                    Perfil
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
            <!-- Page Content -->
            <div id="page-wrapper" style="padding:0px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            @RenderBody() <!-- pega o corpo da minha view como a index.cshtml-->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
    }
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Scripts/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/sb-admin-2.js"></script>

    <!--
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/method_PT.js"></script>
    -->
  
</body>
</html>